.judul_halaman{
	margin-top: 20px;
}
.halaman{
	margin-top: 75px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 150px;

}
.modal-content
{
	height: 300%;
}
@media (min-width: 576px)
.modal-dialog
{
	max-width: 950px;
}
.h-100{
	width: 30%;
	height: 30%;
}
.row{
	display:flex;
}
