.halaman{
	margin-top: 30px;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 10%;
}
.card-img-top{
		width: 100%;
		height: 240px;
	}
.h-100{
		width: 45%;
		height: inherit;
}
.modal-content{
	width: 220%;
}
.modal-dialog {
	margin-top: 55px ;
	margin-left: 135px;
	margin-right: 100px;
	margin-bottom: 200px;
}
.listmerek{
	margin-left: 20px;
}
.mb-4{
	width: 115% ;
}
.col-md-2 {
	max-Width: 11%;
	margin-right: 20px;
}
.card-title{
	font-size: 20px;
}
.row{
	margin-right: 0px;
}
.carousel .carousel-control {
		width: 40px;
    background: #7ac400;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}
.carousel-control.right {
	right: 0;
  left: auto;
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	color: #000;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel .carousel-control.right i {
    margin-right: -4px;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    margin-right: 0px;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}
fa {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}
.multi-item-example{
	padding: 20px;
}
.col-md-4{
	 max-width: 18.33%;
}
#multi-item-example{
	min-height: 0px;
	height: 5%;
	margin-left: 7%;
	margin-right: 7%;
}
.col-md-3{
	max-width: 280px;
}
#gmbr{
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}
#tahun{
	margin-right: 20px;
}
.mb-3{
	margin-top: 20px;
}
#sorting{
	margin-top: 20px;
}
#judul{
	margin-left: 20px;
}
#harga{
	margin-left: 230px;
}
.container1{
	margin-left: auto;
	margin-right: auto;
	background: #DCDCDC;
	display:list-item;
}
#cs{
	margin-left: 13%;
	margin-right: 13%;
}
.bg-dark{
     background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
}
.navbar-dark .navbar-nav .nav-link:hover {
		color: #fff;
}
body{
	background-color: #F8F8F8;
}
.carousel-control-next, .carousel-control-prev, .carousel-control-next:hover, .carousel-control-prev:hover {
	width: 2%;
	color: #000;
}
#icon{
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 20px;
}
#desc{
	margin-left: 5px;
}
#search{
	margin-top: 10px;
	padding-left: 22%;
	padding-right: 22%;
}
.pencarianmenu{
  background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
  height:50px;
	width: 100%;
}
.col-md-6{
	flex: 0 0 50%;
	max-width: 100%;
}
#list1{
	margin-top: 10px;
}
.container{
	max-width: 1300px;
}
#slider-rekomendasi{
	padding-left: 5%;
	padding-right: 5%;
}
#detail-mobil{
	margin-bottom: 10%;
}
.garis{
	border-top: 1px solid #ccc;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
}
#ly1{
	margin-left: 9%;
}
.bg-secondary{
	margin-bottom: -15px;
}
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
	height: 480px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.img-wrap{
	width: 100%;
	height: auto;
}
#t-gmbr{
	width: 100%;
	height: 200px;
}
.column{
	max-height: 100%;
}
.mySlides{
	padding: 1%;
}
.galery{
	margin: 1%;
	height: 60px;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
	color: #000;
}
.gallery-wrap .img-big-wrap img {
	height: 100%;
}
#gmbrsama{
	height: 130px;
}
.btn btn-gmail{
	background-color: #fff;
}
.ly-1{
	padding-top: 2%;
	padding-left: 6%;
	padding-bottom: 2%;
}
.ly-2{
	padding-top: 2%;
	padding-right: 6%;
	padding-bottom: 2%;
}
iframe{
	width: 100%;
}
.prices{
	position: relative;
	right: 0;
}
.card-products {
    margin-bottom: 1rem;
}
.action-wrap{
	margin-top: 4px;
}
.btn-search{
	width: 50%;
}
