#judul_halaman{
	margin-top: 40px;
	margin-left: 135px;
}
.halaman{
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 80px;
	margin-bottom: 150px;
}
.card-img-top{
		width: 40%;
	}
.h-100{
		width: 45%;
		height: inherit;
}
.input-group{
	padding-right: 40%
}
.modal-content{
	width: 220%;
}
.modal-dialog {
	margin-top: 55px ;
	margin-left: 135px;
	margin-right: 100px;
	margin-bottom: 200px;
}
.listmerek{
	margin-left: 20px;
}
.mb-4{
	width: 115% ;
}
.col-md-2 {
	max-Width: 11%;
	margin-right: 20px;
}
.card-title{
	font-size: 20px;
}
.row{
	margin-right: 0px;
}
.carousel .carousel-control {
		width: 40px;
    background: #7ac400;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}
.carousel-control.right {
	right: 0;
  left: auto;
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	color: #000;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel .carousel-control.right i {
    margin-right: -4px;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    margin-right: 0px;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}
fa {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}
.multi-item-example{
	padding: 20px;
}
.btn-block {
	width: 800%;
}
.col-md-4{
	 max-width: 18.33%;
}
#multi-item-example{
	padding-bottom: -50px;
	min-height: 0px;
	height: 180px;
	margin-left: 20px;
}
.col-md-3{
	max-width: 280px;
}
#gmbr{
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}
#tahun{
	margin-right: 20px;
}
.mb-3{
	margin-top: 20px;
}
#sorting{
	margin-top: 20px;
}
#judul{
	margin-left: 20px;
}
#harga{
	margin-left: 230px;
}
.container1{
	margin-left: auto;
	margin-right: auto;
	background: #DCDCDC;
	display:list-item;
}
#cs{
	margin-left: 13%;
	margin-right: 13%;
}
.bg-dark{
	background:#0F466E;
     background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-ms-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5093C4',endColorstr='#0F466E',GradientType=1);
}
.navbar-dark .navbar-nav .nav-link:hover {
		color: #fff;
}
body{
	background-color: #F8F8F8;
}
.carousel-control-next, .carousel-control-prev, .carousel-control-next:hover, .carousel-control-prev:hover {
	width: 2%;
	color: #000;
}
#icon{
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 20px;
}
#desc{
	margin-left: 5px;
}
#search{
	margin-top: 10px;
	margin-left: 30%;
}
.pencarianmenu{
	background:#0F466E;
     background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-ms-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5093C4',endColorstr='#0F466E',GradientType=1);
     height:50px;
}
.col-md-6{
	flex: 0 0 50%;
	max-width: 100%;
}
#list1{
	margin-top: 10px;
}
.container{
	max-width: 1300px;
}
#slider-rekomendasi{
	padding-left: 5%;
}
#detail-mobil{
	margin-bottom: 10%;
}
.garis{
	border-top: 1px solid #ccc;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
}
#ly1{
	margin-left: 90px;
}
.bg-secondary{
	margin-bottom: -15px;
}
